html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

canvas {
  display: block;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  padding-left: 2rem;

  img {
    width: 2vw;
  }
}
